<h1> About Page </h1>
<p>Welcome to the about page! This application has a collection obscure items for purchase and only has a limited amount! Enjoy your time on and hopefully you can walk away with an exciting find!</p>
